<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>File Data</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<nav>
    <div class="nav-wrapper blue darken-1">
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/addFile" class="collection-item">Add file</a></li>
            <li><a href="/ownFiles">Own files</a></li>
            <li><a href="/searchDatasetGroup">Search Dataset Group</a></li>
            <li><a href="/searchDataset">Search Dataset</a></li>
        </ul>
        <ul id="nav-mobile2" class="right hide-on-med-and-down">
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1>File Data</h1>
    <div class="row">
        <div class="col s12 m6">
            <form action="/ownFiles">
                <button class="btn waves-effect waves-light" >Go Back</button>
            </form>
        </div>
    </div>
    <tr th:each="dg: ${file.dg}">
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue lighten-1">
                    <div class="card-content white-text">
                        <span class="card-title" th:text="'Dataset Group ' + ${dg.dg_id}"></span>
                    </div>
                    <div class="card-action blue lighten-5">
                        <form target="_blank" th:action="'/api/v1/dg/'+${dg.id}+'/metadata'" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light" type="submit">Get MD
                            </button>
                        </form>
                        <form target="_blank" th:action="'/api/v1/dg/'+${dg.id}+'/protection'" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light" type="submit">Get PR
                            </button>
                        </form>
                        <form action="/getDatasetGroupData" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light" type="submit">Get DT
                            </button>
                        </form>
                        <form action="/editDatasetGroup" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light red" type="submit">Edit
                            </button>
                        </form>
                        <form action="/addDataset" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light red" type="submit">Add DT
                            </button>
                        </form>
                        <form target="_blank" action="/api/v1/deleteDatasetGroup" method="post" style="display: inline-block">
                            <input type="hidden" name="dg_id" th:value="${dg.id}">
                            <input type="hidden" name="file_id" th:value="${file.id}">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="btn waves-effect waves-light red" type="submit">Delete
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </tr>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>